html, body {
  margin: 5px;
  font: 14px Helvetica, Arial, sans-serif;
  height: 100%;
  width: auto;
  background-image: url("./Slide1.JPG");
  background-size: cover;
}

#app {
  height: 100%;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.module { 
  text-align: center;
}

.miniaturize {
  max-height: 200px;
}