html, body {
  margin: 5px;
  font: 14px Helvetica, Arial, sans-serif;
  height: 100%;
  width: auto;
}

#app {
  height: 100%;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
  justify-content: space-around;
  min-height: 100%;
}

h1 {
  text-align: center;
}